<article>
    <form method="POST">
        <label for="email-text">
            Emails Here (one per line):
        </label>
        <textarea id="email-text" name="Email input" rows="10" placeholder="emails for raffle">{{emails}}</textarea>
        <button type="submit" class="submit-button">Run Raffle</button>
    </form>
    <div>
        <h3>Raffle Winner:</h3>
        <p></p>
    </div>
</article>
