<article>
    <form action="/raffler" method="post" id="raffle-input-form">
        <div class="form-group">
            <label for="emails">
                Emails Here (one per line):
            </label>
            <textarea class="form-control" id="emails" name="emails" rows="10" placeholder="Emails For Raffle">{{emails}}</textarea>
            <label for="emailTo">
                Email List To:
            </label>
            <input class="form-control" type="text" id="emailTo" name="emailTo" value="{{emailTo}}" />
        </div>
        <button type="submit" class="btn btn-primary">Run Raffle</button>
    </form>
    <div class="panel panel-default">
        <div class="panel-heading">Raffle Winner:</div>
        <div class="panel-body">{{raffleWinner}}</div>
    </div>
</article>
