header {
    text-align: center;
    display: table;
}

header > img {
    width: 50%;
    margin: 0% 2%;
}

header > h1 {
    font-size: 4vw;
    display: inline;
    vertical-align: middle;
}

article {
    margin: 0% 10%;
}

.form-group > textarea {
    resize: vertical;
    overflow: auto;
}

.form-group > label {
    margin-top: 2%;
}

#raffle-input-form {
    margin-bottom: 2%;
}
