<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>The Raffler</title>
    <link rel="stylesheet" href="public/css/main.css">
    <link href="public/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <main>
        <header>
            <h1>The</h1>
            <img src="public/pics/gcp.svg">
            <h1>Raffler</h1>
        </header>
    
        {{{body}}}
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="public/css/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
