<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>The Raffler</title>
    <link rel="stylesheet" href="public/css/main.css">
</head>
<body>
    <main>
        <header>
            <h1>The Raffler!</h1>
        </header>
    
        {{{body}}}
    </main>

    <!--<script src="/public/js/randomEmailResponse.js"></script>-->
</body>
</html>
